
<div class="education">
    <div class="matriculation">
        <div class="mat-1">
            <h3 class="margin-0">Matriculation</h3>
            <input type="text" id="matriculation" class="width-80 width-100-mb"><br/>
            <label for="matriculation" class="hint-text">Name of School</label>
        </div>
        <div class="mat-2">
            <p class="margin-0">Passing year</p>
            <input type="number" id="mat-passing-year">
        </div>
        <div class="mat-3">
            <p class="margin-0">Percentage</p>
            <input type="text" id="mat-percent">
        </div>
        
    </div>
    <div class="higher-secondary">
        <div>
            <h3 class="margin-0">Higher Education</h3>
            <input type="text" id="higher-secondary" class="width-80 width-100-mb"><br/>
            <label for="higher-secondary" class="hint-text">Name of School</label>
        </div>
        <div>
            <p class="margin-0">Passing year</p>
            <input type="number" id="hs-passing-year">
        </div>
        <div>
            <p class="margin-0">Area of Study / Degree</p>
            <input type="text" id="hs-study">
        </div>
        <div>
            <p class="margin-0">Percentage</p>
            <input type="text" id="hs-percent">
        </div>
        
    </div>
    <div class="graduation">
        <div>
            <h3 class="margin-0">Graduation</h3>
            <input type="text" id="graduation" class="width-80 width-100-mb"><br/>
            <label for="graduation" class="hint-text">Name of College</label>
        </div>
        
        <div>
            <p class="margin-0">Passing year</p>
            <input type="number" id="grad-passing-year">
        </div>
        <div>
            <p class="margin-0">Area of Study / Degree</p>
            <input type="text" id="grad-study">
        </div>
        <div>
            <p class="margin-0">Percentage</p>
            <input type="text" id="grad-percent">
        </div>
    </div>
    <div class="other-education">
        <div>
            <h3 class="margin-0">Trade School/ Other</h3>
            <input type="text" id="other-education" class="width-80 width-100-mb"><br/>
            <label for="other-education" class="hint-text">Name of College / Intitution</label>
        </div>
        
        <div>
            <p class="margin-0">Passing year</p>
            <input type="number" id="other-edu-passing-year">
        </div>
        <div>
            <p class="margin-0">Area of Study / Degree</p>
            <input type="text" id="other-edu-study">
            <br/>
            <label for="other-edu-study" class="hint-text">Post Graduation/ Other Degree</label>
        </div>
        <div>
            <p class="margin-0">Percentage</p>
            <input type="text" id="other-edu-percent">
        </div>
    </div>     
</div>