
<div class="emp-desired">
    <div class="emp-box1">
        <label for="job-title">Which Job you are looking for ?</label>
        <select name="jobTitle" id="job-title" class="width-100" >
            <option  selected disabled>Select Job Title</option>
            <option value="Accessibility Specialist
            ">Accessibility Specialist
            </option>
            <option value="Business Systems Analyst
            ">Business Systems Analyst
        </option>
            <option value="Cloud Architect
            ">Cloud Architect
            </option>
            <option value="Computer Graphics Animator
            ">Computer Graphics Animator
            </option>
            <option value="Content Manager
            ">Content Manager
            </option>
            <option value="Content Strategist
            ">Content Strategist
            </option>
            <option value="Data Analyst
            ">Data Analyst
            </option>
            <option value="Data Architect
            ">Data Architect
            </option>
            <option value="Data Modeler
            ">Data Modeler
            </option>
            <option value="Data Scientist
            ">Data Scientist
            </option>
            <option value="Database Administrator
            ">Database Administrator
            </option>
            <option value="Devops Manager
            ">Devops Manager
            </option>
            <option value="Digital Marketing Manager
            ">Digital Marketing Manager
            </option>
            <option value="Frameworks Specialist
            ">Frameworks Specialist
            </option>
            <option value="Front-End Designer
            ">Front-End Designer
            </option>
            <option value="Front-End Developer
            ">Front-End Developer
            </option>
            <option value="Full-Stack Developer
            ">Full-Stack Developer
            </option>
            <option value="Game Developer
            ">Game Developer
            </option>
            <option value="Growth Hacker
            ">Growth Hacker
            </option>
            <option value="Information Architect
            ">Information Architect
            </option>
            <option value="Interaction Designer
            ">Interaction Designer
            </option>
            <option value="Marketing Technologist
            ">Marketing Technologist
            </option>
            <option value="Mobile Developer
            ">Mobile Developer
            </option>
            <option value="Product Manager
            ">Product Manager
            </option>
            <option value="Quality Assurance Specialist
            ">Quality Assurance Specialist
            </option>
            <option value="Security Specialist
            ">Security Specialist
            </option>
            <option value="Seo Consultant
            ">Seo Consultant
            </option>
            <option value="Social Media Manager
            ">Social Media Manager
            </option>
            <option value="Software Developer
            ">Software Developer
            </option>
            <option value="Systems Administrator
            ">Systems Administrator
            </option>
            <option value="Systems Engineer
            ">Systems Engineer
            </option>
            <option value="Technical Account Manager
            ">Technical Account Manager
            </option>
            <option value="Technical Lead
            ">Technical Lead
            </option>
            <option value="UI Designer
            ">UI Designer
            </option>
            <option value="Ux Designer
            ">Ux Designer
            </option>
            <option value="Web Analytics Developer
            ">Web Analytics Developer
            </option>
            <option value="Wordpress Developer
            ">Wordpress Developer
            </option>
        </select>
    </div>
    <div class="emp-box2">
        <label for="joining-date">Date you can start</label>
        <input id="joining-date" type="date">
    </div>
    <div class="emp-box3">
        <label for="salary-desired">Salary desired</label>
        <input id="salary-desired" type="text" placeholder="Rupees per annum">
    </div>
    <div class="emp-box4">
        <label for="wokrked-before">Have you worked here before ?</label>
        <div>
            <input type="radio" name="worked-before" id="worked-before-y" value = "yes">
            <label for="worked-before-y">Yes</label>
        </div>
        <div>
            <input type="radio" name="worked-before" id="worked-before-n" value = "no">
            <label for="worked-before-n">No</label>
        </div>     
    </div>
    <div class="emp-box5">
        <label for="applied-before">Have you applied here before ?</label>
        <div>
            <input type="radio" name="applied-before" id="applied-before-y" value = "yes">
            <label for="applied-before-y">Yes</label>
        </div>
        <div>
            <input type="radio" name="applied-before" id="applied-before-n" value = "no">
            <label for="applied-before-n">No</label>
        </div>
    </div>
    
</div>
