
<div class="references-container">
    <!-- Reference 1 -->
    <div class="reference-box ref-box-1">
        <div>
            <label for="ref-1-name">Reference 1</label>
            <br/>
            <input type="text" id="ref-1-name" class="width-80 width-100-mb"><br>
            <label for="ref-1-name" class="hint-text">Name of Reference</label>
        </div>
        <div>
            <label for="ref-1-relation">Relationship</label>
            <br/>
            <input type="text" id="ref-1-relation" class="width-80 width-100-mb">
        </div>
        <div>
            <label for="ref-1-acquaintance">Years Acquainted</label>
            <br/>
            <input type="text" id="ref-1-acquaintance" class="width-80 width-100-mb">
        </div>
        <div>
            <label for="ref-1-phone">Phone</label>
            <br/>
            <input type="text" id="ref-1-phone" class="width-80 width-100-mb">
        </div>
        <div>
            <label for="ref-1-email">Email</label>
            <br/>
            <input type="email" id="ref-1-email" class="width-80 width-100-mb">
        </div>
    </div>

    <!-- Reference 2 -->
    <div class="reference-box ref-box-2">
        <div>
            <label for="ref-2-name">Reference 2</label>
            <br/>
            <input type="text" id="ref-2-name" class="width-80  width-100-mb"><br>
            <label for="ref-2-name" class="hint-text">Name of Reference</label>
        </div>
        <div>
            <label for="ref-2-relation">Relationship</label>
            <br/>
            <input type="text" id="ref-2-relation" class="width-80 width-100-mb">
        </div>
        <div>
            <label for="ref-2-acquaintance">Years Acquainted</label>
            <br/>
            <input type="text" id="ref-2-acquaintance" class="width-80 width-100-mb">
        </div>
        <div>
            <label for="ref-2-phone">Phone</label>
            <br/>
            <input type="text" id="ref-2-phone" class="width-80 width-100-mb">
        </div>
        <div>
            <label for="ref-2-email">Email</label>
            <br/>
            <input type="email" id="ref-2-email" class="width-80 width-100-mb">
        </div>
    </div>

    <!-- Reference 3 -->
    <div class="reference-box ref-box-3">
        <div>
            <label for="ref-3-name">Reference 3</label>
            <br/>
            <input type="text" id="ref-3-name" class="width-80 width-100-mb"><br>
            <label for="ref-3-name" class="hint-text">Name of Reference</label>
        </div>
        <div>
            <label for="ref-3-relation">Relationship</label>
            <br/>
            <input type="text" id="ref-3-relation" class="width-80 width-100-mb">
        </div>
        <div>
            <label for="ref-3-acquaintance">Years Acquainted</label>
            <br/>
            <input type="text" id="ref-3-acquaintance" class="width-80 width-100-mb">
        </div>
        <div>
            <label for="ref-3-phone">Phone</label>
            <br/>
            <input type="text" id="ref-3-phone" class="width-80 width-100-mb">
        </div>
        <div>
            <label for="ref-3-email">Email</label>
            <br/>
            <input type="email" id="ref-3-email" class="width-80 width-100-mb">
        </div>
    </div>
</div>